!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= page_title
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = yield :html_head
  %body{:style => "margin: 0; padding: 0; text-align: center;"}
    = cms_toolbar
    #wrapper{:style => "width: 700px; margin: 0 auto; text-align: left; padding: 30px"}
      Breadcrumbs: #{render_breadcrumbs}
      Main Menu: #{render_menu}
      %h1= page_title
      = container :main